.btn {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #120ECB;
    cursor: pointer;
    color: #120ECB;
    background: #FFF;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
        color: #FFF;
        background: #210EBC;
    }
}

.ant-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    span {
        font-size: 1.4rem;
    font-weight: 500;
    line-height: 178.571%;
    }
}