.index-hero {
    height: 70vh;
    position: relative;
    padding: 0px 120px;
    display: flex;
    align-items: center;
    gap: 50px;
    background: rgba(18, 14, 203, 0.10);

    &-left {
        flex: 1;

        h2 {
            color: var(--text-color);
            font-size: 4rem;
            font-weight: 600;
        }

        strong {
            color: var(--text-strong-color);
        }

        p {
            margin-top: 16px;
            font-size: 1.6rem;
            color: var(--text-des-color);
            font-weight: 400;
            line-height: 204.3%;
        }
    }

    &-right {
        flex: 1;

        img {
            position: absolute;
            bottom: 0px;
            right: 80px;
            z-index: -1;
        }
    }

    &__group-btn {
        margin-top: 65px;
        display: flex;
        gap: 25px;

        .btn {
            padding: 10px 25px;
        }
    }

    .background-index-img-1 {
        position: absolute;
        z-index: 10;
        left: 0px;
        bottom: -130px;
    }

    .background-index-img-2 {
        position: absolute;
        z-index: 10;
        right: 0px;
        top: 50px;
    }
}
