@use "../abstracts";

.dashboard {
    min-height: calc(100vh - 70px);
    background-color: #e6e5fe;
    padding: 20px 20px 0 20px;

    .ant-row {
        margin-bottom: 20px;
    }

    &-title {
        // margin-bottom: ;
        color: #202224;
        font-size: 3.2rem;
        font-weight: 700;
    }

    &-hello {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);

        div {
            width: 60%;
            p {
                margin-bottom: 7px;
                font-size: 1.6rem;
                strong {
                    font-weight: 600;
                    color: green;
                }
            }
            p:first-child {
                font-size: 2rem;
                font-weight: 700;
                line-height: normal;
            }
        }
        img {
            width: 100px;
            height: 100px;
        }
    }

    .kpi-diagram {
        height: 300px;
        background-color: #fff;
        box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 20px;

        padding-bottom: 50px;
        &-title {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 20px;
        }

        canvas {
            width: 100%; // Thay đổi từ minWidth thành width và sử dụng phần trăm hoặc vw
            height: 300px; // Hoặc sử dụng kích thước cố định, hoặc có thể cân nhắc sử dụng phần trăm hoặc vw
        }
    }
    .react-slideshow-wrapper.slide {
        box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
    .react-slideshow-container .default-nav {
        background: #eee !important;
    }

    .dashboard-daytask {
        height: 360px;
        width: 100%;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
        @include abstracts.screen(md) {
            height: auto;
        }
    }

    .dashboard-daytask h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .dashboard-list {
        max-height: 200px;
        overflow-y: auto;
    }

    .dashboard-task {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #f0f0f0;
    }

    .dashboard-task:last-child {
        border-bottom: none;
    }

    .dashboard-task .ant-checkbox-wrapper {
        font-size: 16px;
    }

    .react-calendar__tile--hasTasks,
    .react-calendar__tile--hasIncompletePrevTasks {
        position: relative;
    }

    .react-calendar__tile--hasTasks::after,
    .react-calendar__tile--hasIncompletePrevTasks::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 4px;
        background-color: #7549ff;
        border-radius: 10px;
    }

    .react-calendar__tile--hasIncompletePrevTasks::after {
        background-color: red;
    }

    .dashboard-task.completed {
        opacity: 0.5;
    }
}

.kpi-box-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
        font-size: 2rem;
        margin-bottom: 10px;
        font-weight: 600;
    }

    strong {
        color: green;
        font-weight: 600;
    }
}

:where(.css-dev-only-do-not-override-1okl62o).ant-tour {
    @include abstracts.screen(md) {
        width: 300px !important;
    }
}
