@use "../abstracts";

.kpi-detail {
    padding: 0 20px;
}

.kpi-detail-header {
    padding: 20px 0;
    border-radius: 10px;
    background-color: #fff;
    // display: flex;
    align-items: center;
    // justify-content: space-between;
    @include abstracts.screen(md) {
        padding: 30px 10px;
    }
}

.kpi-detail-title {
    color: #1814f3;
    font-size: 3rem;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 20px;
}

.kpi-detail-progress {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include abstracts.screen(md) {
        margin-top: 20px;
        justify-content: center;
    }
}

.kpi-detail-complete {
    font-size: 1.6rem;
    strong {
        color: #52c41a;
        font-weight: 500;
    }
    margin-bottom: 10px;
}

.kpi-detail-deadline {
    font-size: 1.6rem;
    strong {
        color: #ff4d4f;
        font-weight: 500;
    }
    margin-bottom: 20px;
}

.kpi-detail-btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #1814f3;
    color: #fff;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;

    .icon {
        margin-left: 8px;
        transition: transform 0.3s ease;
    }

    &:hover {
        background-color: #1814f3;
        .icon {
            transform: translateX(5px);
        }
    }
}

// Additional CSS for kpi-detail-info
.kpi-detail-criterion {
    margin-left: -40px !important;
    margin-right: -40px !important;
    // padding: 20px 40px;
    // background-color: red;
    // width: 100%;
    &-title {
        margin-top: 20px;
        margin-left: 16px;
        color: #242731;
font-size: 2.4rem;
font-weight: 600;
    }
    .ant-collapse {
        width: 100%;
    }
    .ant-collapse-item {
        width: 100%;
    }
    .ant-collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ant-collapse-content {
        width: 100%;
    }
}

.kpi-detail-table-name {
    color: #242731;
// font-size: 2rem;
font-weight: 500;
}