/* styles.css */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1814F3 !important; /* Màu chữ cho tab đang hoạt động */
  font-weight: 500;
}

.ant-switch .custom-switch .css-dev-only-do-not-override-1okl62o {
  background-color: beige;
}

.ant-switch-checked {
  background-color: #1814F3 !important;
}