html {
    --logo-color: #343C6A;
    --text-color: #000;
    --text-strong-color: #120ECB;
    --text-des-color: #5C5C5C;

    // Calendar
    --calendar-color-1: #1814F2;
    --calendar-color-2: #A3A1FA;
}